@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{margin:0;
padding:0;
font-family: 'Montserrat', sans-serif;
list-style: none;    text-decoration:none;
}
body{
    margin:0 auto;
    width: 100%;
    height: 100%;
    background-color: #c3c3c3;
}
.headWrap{
    position: fixed;
        top:5vw;
/*    background-color: #fff;*/
    
        
}
a:link{color:#000}
a:visited{color:#000}

header{
    float:left;
    width: 15vw;
    height: 20%;
    font-size:1.5vw;
    font-weight:900;
    text-align: center;
    margin: 0vw 3vw;
    line-height: 4vw;
}
#home{
    margin:auto;
    width:80%;
    height: 0.4vw;
    background-color:#000;
}
.menu{
    position:fixed;
        right:10vw;
}
.menu ul{
    width:100%;
    height:100%;
}
.menu li{
        display: inline-block;
        margin:1vw;
        font-size:1.2vw;
}

.inner_wrap{
    margin: 12vw auto;
    position: fixed;
    text-align: center;
    font-size: 2vw;
            max-width: 60vw;
            min-height:100px;
    vertical-align: top;
}
.title{
    height:1.5vw ;
    width: ;
    font-size:1vw
}

.img_wrap{
    
    display: inline-block;
    width: 15vw;
    height: 15vw;
    margin: 3vw 1vw;
    background-color: #845f0b;
    vertical-align: top;
}
.img_wrap img{
    width: 100%;height: 100%;}
