@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{margin:0;
padding:0;
font-family: 'Montserrat', sans-serif;
list-style: none;    text-decoration:none;
}
body{
    margin:0 auto;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}
.headWrap{
    display:inline-block;
    
}
a:link{color:#000}
a:visited{color:#000}

header{
    position:fixed;
        top:5vw;
        left:0vw;
    width: 15vw;
    height: 20%;
    font-size:1.5vw;
    font-weight:900;
    text-align: center;
    margin: 0vw 3vw;
    line-height: 4vw;
}
#capline{
    margin:auto;
    width:80%;
    height: 0.4vw;
    background-color:#000;
}
.menu{
    position:fixed;
        top:5vw;
        right:10vw;
}
.menu ul{
    width:100%;
    height:100%;
}
.menu li{
        display: inline-block;
        margin:1vw;
        font-size:0.8vw;
}

.inner_wrap{
    margin:30% auto;
    float: inherit;
    width: 50%;
    height: 70%;
/*    background-color: #fff;*/
}
.title{font-size:1vw}
.img_wrap{
    display: inline-block;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    margin: 1vw;
    background-color: #b2b2b2;
}
.img_wrap img{
    width: 100%;height: 100%;}
